<script src="{{ [
    'assets/vendor/jquery/dist/jquery.js',
    'assets/vendor/jquery-migrate/jquery-migrate-1.2.1.min.js',
    'assets/vendor/bootstrap-5.0.1/js/bootstrap.bundle.min.js',
    'assets/vendor/slick-1.8.1/slick/slick.min.js',
    'assets/vendor/slick-lightbox/dist/slick-lightbox.min.js',
    'assets/vendor/counterup/jquery.waypoints.min.js',
    'assets/vendor/counterup/jquery.counterup.min.js',
    'assets/vendor/wow/dist/wow.min.js',
    'assets/js/main.js',
    '@framework',
    '@framework.extras'
]|theme }}"></script> 

{% scripts %}
