==
<section id="works-section" class="pt-lg-4 pt-2 pb-2 section-container bg-darker">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-left text-white wow fadeInDown">Virtual & Hybrid Projects</h2>
        </div>

         <div class="row works-slider slick-slider">
            {% for category in categories if category.id == '3'%}
                {% for work in category.work if work.status %}
                    <div class="col-4 work-item">
                        <a href="{{ 'work-view'|page({ slug: work.slug }) }}">
                            <div class="work-holder">
                                {% if work.work_cover %}
                                    <div class="proj-prev-img" style="background:url({{ work.work_cover.thumb(auto,450) }});"></div>
                                {% else %}
                                    <div class="proj-prev-img" style="background:url({{ 'assets/images/projects/no-cover.png'|theme }});"></div>
                                {% endif %}
                                <div class="work-overlay"><h6 class="overlay-text">{{ work.title }}</h6></div>
                            </div>
                        </a>
                    </div>                    
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>