<section id="process" class="fwx">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 wow fadeInLeft">
                <div class="section-header title-x title-processs" data-wow-delay="0.6s">
                    <h1 class="text-white section-title mb-5 mb-lg-0">Our Process</h1>
                </div>
            </div>
            <div class="col-lg-10 p-0">
                <div class="main-timeline">
                    <div class="timeline left wow fadeInUp" data-wow-delay="0.6s">
                        <div class="card">
                            <div class="card-body">
                                <h3>Research</h3>
                            </div>
                        </div>
                    </div>
                    <div class="timeline right wow fadeInUp" data-wow-delay="0.6s">
                        <div class="card">
                            <div class="card-body">
                                <h3>Discovery</h3>
                            </div>
                        </div>
                    </div>
                    <div class="timeline left wow fadeInUp" data-wow-delay="0.6s">
                        <div class="card">
                            <div class="card-body">
                                <h3>Planning & Strategy</h3>
                            </div>
                        </div>
                    </div>
                    <div class="timeline right wow fadeInUp" data-wow-delay="0.6s">
                        <div class="card">
                            <div class="card-body">
                                <h3>Agile Development</h3>
                            </div>
                        </div>
                    </div>
                    <div class="timeline left wow fadeInUp" data-wow-delay="0.6s">
                        <div class="card">
                            <div class="card-body">
                                <h3>Launch & Iteration</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>