==
{##}
<footer id="footer" class="{{this_page == 'ventures' ? 'bg-v-dark' : 'bg-dark'}}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <ul class="social-icons">
                    <li>
                        <a href="https://www.facebook.com/First-Wave-Agency-Singapore-100137285054193/">
                        <img src="{{ 'assets/images/icons/fb-icon-white.svg'|theme }}" alt="Facebook">
                        </a>
                    </li>
                    <li class="soc-divider">
                        <span>&#47;</span>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/firstwave.sg/">
                            <img src="{{ 'assets/images/icons/ig-logo-white.svg'|theme }}" alt="Instagram">
                        </a>
                    </li>
                    <li class="soc-divider">
                        <span>&#47;</span>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/first-wave-agency/">
                            <img src="{{ 'assets/images/icons/linkedin-icon-white.svg'|theme }}" alt="Linkedin">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center cc mt-3">&copy;  {{ "now"|date("Y") }} First Wave Pte Ltd.</p>
            </div>
        </div>
    </div>
</footer><!--/#footer-->