<section id="partners" class="section-container fwv">
    <div class="container">
        <div class="section-header title-v">
            <h2 class="section-title text-left text-white wow fadeInDown">Our Friends</h2>
        </div>
        <div class="row friends-carousel"> 
            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/tribe.png'|theme }}">
                </div>          
            </div>
            
            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/f10.png'|theme }}">
                </div>          
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/enjinstarter.png'|theme }}">
                </div>            
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/animoca-brands.png'|theme }}">
                </div>             
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/signum-capital.png'|theme }}">
                </div>           
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/youbi-capital.png'|theme }}">
                </div>            
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/infinity-ventures.png'|theme }}">
                </div>            
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/spartan.png'|theme }}">
                </div>            
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/gumi-cryptos.png'|theme }}">
                </div>            
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/konvoy.png'|theme }}">
                </div>            
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/tencent-cloud.png'|theme }}">
                </div>            
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/blockchain-founders-fund.png'|theme }}">
                </div>            
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/polygon-studios.png'|theme }}">
                </div>            
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/solana-labs.png'|theme }}">
                </div>            
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/klaytn.png'|theme }}">
                </div>            
            </div>

            <div class="col-lg-3 carousel-partners-item">
                <div class="partners-holder">
                    <img src="{{ 'assets/images/friends/binance.png'|theme }}">
                </div>            
            </div>
        </div>
    </div>
</section>









   
