==
{##}
<section id="our-work" class="section-container fwv">
    <div class="container">
        <div class="section-header wow fadeInDown title-v" data-wow-delay="0.6s">
            <h2 class="section-title text-left text-white wow fadeInDown">Our Work</h2>
            <p class="sub-caption">(Projects that we supported in various formats. We advise, incubate and/ or invest.)</p>
        </div>
        <div class="row align-items-center">
			<div class="col-md-12">
                <ul class="our-works-list">
                    <li class="wow fadeInUp" data-wow-delay="0.6s">Space Misfit •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.7s">Geojam •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.8s">Kryxivia •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.9s">Playermon •</li>
                    <li class="wow fadeInUp" data-wow-delay="1.2s">Kingdom Karnage •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">Ancient Kingdom •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.7s">Geopoly •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.8s">Gamesta •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.9s">Monster Galaxy •</li>
                    <li class="wow fadeInUp" data-wow-delay="1.2s">Destiny World •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">Scrap Guilds •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.7s">One rare •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.8s">The Killbox Arena Combat •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.9s">Age of Tanks •</li>
                    <li class="wow fadeInUp" data-wow-delay="1.2s">Atlantis •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">pathDAO •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.7s">Wizarre •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">Dogeon •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.7s">Solchicks •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.8s">ECIO •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.9s">Bit Hotel •</li>
                    <li class="wow fadeInUp" data-wow-delay="1.2s">Last Survivor •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">Hololoot •</li>
                    <li class="wow fadeInUp" data-wow-delay="0.7s">Clytie</li>
                </ul>
			</div>
        </div>
    </div>
</section>