==
{##}
<section id="the-founders" class="section-container fwv">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 wow fadeInLeft">
                <div class="section-header title-x">
                    <h1 class="text-white section-title mb-5 mb-lg-0">The Founders</h1>
                </div>
            </div>
            <div class="col-lg-9 wow fadeInRight">
                <div class="founder-description-holder">
                    <h2 class="description">We are passionate about embracing entrepreneurship and nurturing startup culture. And our general partners are equipped with decades of experience to guide portfolio companies beyond funding</h2>
                    <h2 class="description mt-5">This include product strategy, go-to-market collaboration, strategic partnership, and more.</h2>
                </div>
            </div>
        </div>
    </div>
</section>
