==
{##}
<section id="profile" class="section-container fwv">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 wow fadeInLeft">
                <div class="section-header title-x mb-5 mb-lg-0">
                    <img src="{{ 'assets/images/don-tsai.png'|theme }}" alt="Don Tsai">
                </div>
            </div>
            <div class="col-lg-7 wow fadeInRight">
                <div class="profile-wrapper">
                    <h2 class="profile-name">Don Tsai</h2>
                    <h4 class="profile-title">Co-Founder, General Partner</h4>
                    <div class="profile-description-wrapper">
                        <ul>
                            <li>Award-winning expertise in game development, consumer engagement and brand activation.</li>
                            <li>Veteran mentor, investor and/ or advisor in technology and blockchain startups</li>
                            <li>Experienced in tokenomics design, NFT launches and IDOs.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="profile" class="section-container fwv">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 wow fadeInLeft">
                <div class="section-header title-x mb-5 mb-lg-0">
                    <img src="{{ 'assets/images/patrick-teo.png'|theme }}" alt="Patrick Teo">
                </div>
            </div>
            <div class="col-lg-7 wow fadeInRight">
                <div class="profile-wrapper">
                    <h2 class="profile-name">Patrick Teo</h2>
                    <h4 class="profile-title">Co-Founder, General Partner</h4>
                    <div class="profile-description-wrapper">
                        <ul>
                            <li>Advised startups in areas of commercialisation, fundraising and strategy.</li>
                            <li>Investor in tech startups across different sectors.</li>
                            <li>Advised foreign tech startups on market entry into SE Asia.</li>
                            <li>Advised companies on ICOs, blockchain strategy and use cases.</li>
                            <li>Sits on advisory boards of various tech startups.</li>
                            <li>Regular speaker at venture and tech related events.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
