==
{##}
<section id="services" class="section-container fwv">
    <div class="container">
        <div class="row justify-content-center features">
            <div class="col-xxl-3 col-xl-4 col-md-4 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="media">
                    <div class="media-body">
                        <img src="{{ 'assets/images/icons/v-mission.svg'|theme }}" class="media-img" height="104px" alt="Mission">
                        <h2 class="media-heading text-white">Mission</h2>
                        <p class="media-description">We ride on the first wave to invest and back transformative companies making a difference to our society</p>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-xl-4 col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="media">
                    <div class="media-body">
                        <img src="{{ 'assets/images/icons/v-value.svg'|theme }}" class="media-img" height="104px" alt="Value">
                        <h2 class="media-heading text-white">Value</h2>
                        <p class="media-description">We are a multi-stage investor in gaming, media and blockchain related businesses</p>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-xl-4 col-md-4 wow fadeInRight" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-body">
                        <img src="{{ 'assets/images/icons/v-connections.svg'|theme }}" class="media-img" height="104px" alt="Connections">
                        <h2 class="media-heading text-white">Connections</h2>
                        <p class="media-description">We work with fellow investors, entrepreneurs and launchpads to create value</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>