<section id="projects" class="section-container">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-left text-white wow fadeInDown">Our Projects</h2>
        </div>
        <div class="row align-items-center card-deck">
            <div class="col-md-6 wow fadeInLeft py-3 py-lg-0">
                <div class="card rounded-0">
                    <div class="status-coming-soon"><h4 class="coming-soon-text">Coming Soon</h4></div>
                    <img src="{{ 'assets/images/projects/monopoly-fw.png'|theme }}" class="card-img-top" alt="Monopoly">
                </div>
            </div>

            <div class="col-md-6 wow fadeInLeft py-3 py-lg-0">
                <div class="card rounded-0">
                    <div class="status-coming-soon"><h4 class="coming-soon-text">Coming Soon</h4></div>
                    <img src="{{ 'assets/images/projects/own-the-street.png'|theme }}" class="card-img-top" alt="Monopoly">
                </div>
            </div>
        </div>
    </div>
</section>