ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  i {
    color: $light;
  }
}

.btn-main {
  background: $primary;
  border: 2px solid $primary;
  color:#fff;
  font-size: 500;


  &:hover{
      background: #fff;
      color:$primary;
  }
}

.pb-100{
  padding-bottom: 100px !important;
}

.pt-100{
  padding-top: 100px !important;
}

.pt-50{
  padding-top: 50px !important;
}

.pb-50{
  padding-bottom: 50px !important;
}