.section-container {
	padding-top: 150px;
	padding-bottom: 150px;
}
  
//Section title
.section-header {
padding-top: 55px;
padding-bottom: 55px;

	.section-title {
		font-size: 30px;
		font-weight: 700;
		position: relative;
		padding:0;
		margin:0;
	}
}
  
.column-title {
	margin-top: 0;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
	position: relative;
	&:after {
	  content: " ";
	  position: absolute;
	  bottom: -1px;
	  left: 0;
	  width: 40%;
	  border-bottom: 1px solid $light;
	}
}
  

/*---------------------------------------
    Preloader section              
-----------------------------------------*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: none repeat scroll 0 0 #000;
  }
  
  .sk-rotating-plane {
	width: 50px;
	height: 50px;
	background-color: $primary-color;
	-webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
			animation: sk-rotatePlane 1.2s infinite ease-in-out; }
  
  @-webkit-keyframes sk-rotatePlane {
	0% {
	  -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
			  transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
	50% {
	  -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
			  transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
	100% {
	  -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
			  transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
  
  @keyframes sk-rotatePlane {
	0% {
	  -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
			  transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
	50% {
	  -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
			  transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
	100% {
	  -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
			  transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
  


/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
	z-index: 2;
  }
  
  .isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
  }
  
  /**** Isotope CSS3 transitions ****/
  .isotope,
  .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
  }
  
  .isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
  }
  
  .isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
  }
  
  /**** disabling Isotope CSS3 transitions ****/
  .isotope.no-transition,
  .isotope.no-transition .isotope-item,
  .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
  }
  
  /* End: Recommended Isotope styles */
  /* disable CSS transitions for containers with infinite scrolling*/
  .isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
  }

