.section-container{
    padding-top:150px;
    padding-bottom:150px;
}

.section-header{
    padding-top:35px;
    padding-bottom: 35px;

    .section-title{
        font-size:30px;
        font-weight: 700;
    }
}

#partners{
    img{
        width: 90%;
    }
}


