<div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.3s">
    <div class="media service-box">
        <div class="media-body">
            <div class="hex-icon coat">
                <div class="hex-icon hex-inner">
                     <img src="{{ 'assets/images/icons/icon-experience.svg'|theme }}" class="hex-symbol" height="55px" alt="14 year of Experience">
                </div>
            </div>
            <h4 class="media-heading text-white">14 years of</h4>
            <h4 class="media-heading text-white">experience</h4>
        </div>
    </div>
</div>