#our-reach{
    h3{
        color:$white;
        font-size: 96px;
        font-weight: 700;

       .counter-stat{
            line-height: 94.08px;
            text-align: center;
       }
    }

    .text-lead{
        font-size: 18px;
        font-weight: 700;
        line-height: 17.64px;
    }
}