[class*=bg-image-]{
	background-size: cover !important;
}

.bg-image-gradient{
	background: url(/themes/firstwave/assets/images/bg/fw-gradient.png) no-repeat center 63%;
}

.bg-image-backout-1{
	background: url(/themes/firstwave/assets/images/bg/blacked-out-1.png) no-repeat center 63%;
}

.bg-image-backout-2{
	background: url(/themes/firstwave/assets/images/bg/blacked-out-2.png) no-repeat center 63%;
}

.bg-image-backout-3{
	background: url(/themes/firstwave/assets/images/bg/blacked-out-2.png) no-repeat center 63%;
}

.bg-image-crowd{
	background: url(/themes/firstwave/assets/images/bg/crowd-bg.png) no-repeat center 63%;
}

.bg-image-gaming{
	background: url(/themes/firstwave/assets/images/bg/gaming-bg.png) no-repeat center 63%;
}

.bg-image-gaming{
	background: url(/themes/firstwave/assets/images/bg/laptop-bg.png) no-repeat center 63%;
}

.bg-image-gaming{
	background: url(/themes/firstwave/assets/images/bg/teamlab-bg.png) no-repeat center 63%;
}