<section id="what-we-do" class="section-container fwx">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 wow fadeInLeft">
                <div class="section-header title-x">
                    <h1 class="text-white section-title mb-5 mb-lg-0">What we do</h1>
                </div>
            </div>
            <div class="col-lg-10 wow fadeInRight px-0 px-lg-5">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="card-holder">
                            <h2>Design</h2>
                            <ul class="list-unstyled">
                                <li>Game Design</li>
                                <li>Game Art Development</li>
                                <li>(2D / 3D / Chracter/</li>
                                <li>Environment)</li>
                                <li>Graphic Design</li>
                                <li>Animation</li>
                            <ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="card-holder">
                            <h2>Strategy</h2>
                            <ul class="list-unstyled">
                                <li>Design Thinking and Ideation</li>
                                <li>Process</li>
                                <li>Strategic Partnership</li>
                                <li>Development and Sourcing</li>
                                <li>Gamification Strategy</li>
                                <li>Go-to-Market (GTM) Strategy</li>
                            <ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="card-holder">
                            <h2>Development</h2>
                            <ul class="list-unstyled">
                                <li>Prototyping</li>
                                <li>Full Stack Development</li>
                                <li>(frontend/ backend)</li>
                                <li>Mobile App Development</li>
                                <li>Game Development (Web/ Unity/ Unreal)</li>
                                <li>Blockchain / Smart Contract Development</li>
                            <ul>
                        </div>
                    </div>
                <div>
            </div>
        </div>
    </div>
</section>