// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px){
    #banner{
        .jumbotron{
            &.main-banner{
                padding: 240px 0 120px 0 !important;
            }

            &.x-caption{
                margin-top:180px !important;
            }

            &.v-caption{
                margin-top:180px !important;
            }
        }

        .bg-x-banner{
            width: 675px !important;
            background-position: right 50% !important;
        }

        .bg-v-banner{
            width: 550px !important;
            margin-bottom: -143px !important;
        }
    }

    #works-section{
        .works-slider{
    
            &.slick-slider{
                .work-item{
                    width: 350px !important;
                }
            }
            .work-item{
                .work-holder{
                    .proj-prev-img{
                        height: 225px;
                    }
                }   
            }
        }
    }

    #process{
        &.fwx{
            .main-timeline {
                .timeline {
                    .card{
                        h3{
                            font-size: 62px !important;
                            line-height: 110% !important;
                        }
                    }
                }
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    #banner{
        .jumbotron{
            &.x-caption{
                h1{
                    font-size: 48px !important;
                    line-height: 110% !important;
                } 
            }

            &.v-caption{
                margin-top:120px !important;
                padding-right:40px !important;

                h1{
                    font-size: 58px !important;
                    line-height: 65.4px !important;
                } 
            }
        }

        .bg-x-banner{
            width: 510px !important;
            background-size: 110% !important;
            background-position: -10% 100% !important;
        }

        .bg-v-banner{
            right: 20px !important; 
            width: 480px !important;
            min-height: 525px !important;
            margin-bottom: -120px !important;
        }
    }

    .section-header {
        &.title-x{
            .section-title{
                font-size: 22px;
                line-height: 24.4px;
            }
        }
    }

    #about{
        &.fwx{
            padding-top:250px !important;
            padding-bottom:180px !important;
    
            p{
                font-size: 30px !important;
                line-height: 33.2px !important;
            }
        }
    }

    #process{
        &.fwx{
            .main-timeline {
                .timeline {
                    .card{
                        h3{
                            font-size: 52px !important;
                            line-height: 110% !important;
                        }
                    }
                }
            }
        }
    }

    #our-work{
        &.fwv{
            .our-works-list{
                li{
                    font-size: 38px !important;
                    line-height: 45.4px !important;
                    padding-right:5px;
                }
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .container{
        max-width: 98%;
    }

    .section-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .navbar{
        .navbar-nav{
            max-width: 720px;
            margin-left:auto;
            margin-right: auto;
            padding-top: 50px !important;
            padding-bottom: 50px !important;

            .nav-item{

                .nav-link {
                    font-size: 48px !important;
                    font-weight: 800 !important;
                    line-height: 71.04px;
                }
            }
        }

        .dropdown-menu{
            padding-left:50px !important;
        }

        .navbar-collapse{
            position: fixed;
            right: 100%;
            top: 98px;
            background: #000;
            width: 100%;
            bottom: 0;
            z-index: 5;
            transition: all .3s ease;
            overflow: hidden;
        }

        .navbar-collapse.collapsing {
            height: auto !important;
            margin-right: 55%;
            transition: all 0.3s ease;
            display: block;
        }
      
        .navbar-collapse.show {
            right: 0;
        }

        .dropdown{
            z-index: 999;
            
            .menu-grid{
                display: none;
            }
        }
    }
    
    #banner{
        .jumbotron{
            &.main-banner{
                padding: 220px 0 100px 0 !important;
            
                h1{
                    font-size: 100px;
                    line-height: 100px;
                } 
            
                .lead{
                    font-size: 22px;
                    line-height: 28px;
                }
            }
        }

        .bg-x-banner{
            width: 85%;
            min-height: 650px;
            margin-bottom: -437px !important;
            background-size: 100% !important;
            background-position: right 100% !important;
        }

        .bg-v-banner{
            right: 0 !important; 
            width: 450px !important;
            min-height: 515px !important;
            margin-bottom: -260px !important;
            background-size: 110% !important;
            background-position: 10% 100% !important; 
        }
    }

    #works-section{
        .works-slider{
    
            &.slick-slider{
                .work-item{
                    width: 300px !important;
                }
            }
            .work-item{
                .work-holder{
                    .proj-prev-img{
                        height: 205px;
                    }
                }   
            }
        }
    }  

    #work-banner{
        .jumbotron{
            padding: 200px 0 120px 0 !important;
        
            h1{
                font-size: 100px;
                line-height: 100px;
            } 
        }
    }


    #view-work-banner{
        .jumbotron {

            h1{
                font-size: 60px !important;
                line-height: 60px !important;
           }    
        }
    }

    #about{
        padding-top: 150px !important;
        padding-bottom: 150px !important;

        &.fwx{
            padding-top:650px !important;
        }
    }

    #our-reach{
        h3{
            font-size: 92px !important;
        }

        .text-lead {
            font-size: 18px !important;
            line-height: 21px !important;
        }
    }

    .section-header {
        &.title-x{
            &.title-processs{
                margin-top:0 !important;
            }
        }
    }

    #process{
        &.fwx{
            .main-timeline {
                padding-top:50px !important;
                padding-bottom:50px !important;
            }
        }
    }

    #the-founders{
        &.fwv{
            padding-top: 170px !important;
            padding-bottom: 50px !important;
    
            .founder-description-holder{
                .description{
                    font-size: 32px !important;
                    line-height: 37px !important;
                }
            }
        }
    }

    #services{
        &.fwv{
            .media{
                margin-top: 15px;
                .media-body{
                    .media-heading{
                        font-size: 34px !important;
                        line-height: 38px !important;
                    }
    
                    .media-description{
                        font-size: 20px !important;
                        line-height: 22px !important;
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .container{
        max-width: 95% !important;
    }

    .section-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section-header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .navbar{
        .navbar-nav{
            max-width: 95% !important;
        }
    }

    #banner{
        .jumbotron{
            &.main-banner{
                padding: 200px 0 80px 0 !important;

                h1{
                    font-size: 80px;
                    line-height: 80px;
                } 
            
               .lead{
                    font-size: 20px;
                    line-height: 26px;
                }
    
                .btn {
                    font-size: 16px;
                    font-weight: 600;
                    padding: 20px 26px;
                }
            }

            &.x-caption{
                h1{
                    font-size: 40px !important;
                    line-height: 110% !important;
                } 
            }

            &.v-caption{
                margin-top:100px !important;
                padding-right:0 !important;

                h1{
                    font-size: 48px !important;
                    line-height: 52.4px !important;
                } 
            }
        }

        .bg-v-banner{
            width: 385px !important;
            min-height: 445px !important;
            margin-bottom: -250px !important;
        }
    }

    #work-banner{
        .jumbotron{
        
            h1{
                font-size: 80px;
                line-height: 80px;
            } 
        }
    }

    #view-work-banner{
        .jumbotron {
            padding: 220px 0 35px 0 !important;

            h1{
                font-size: 50px !important;
                line-height: 50px !important;
           }    
        
           .lead{
               font-size: 16px !important;
           }
        }
    }

    #works-section{
        .section-header{
            padding-bottom: 55px !important;

            .section-title{
                font-size: 22px !important;
                line-height: 22px !important;
            }
    
            a{
                font-size: 16px !important;
            }
        }
    }

    #about{
        .caption {
            font-size: 60px;
        }
    
        p{
            font-size: 18px;
            line-height: 25px;
        }

        &.fwx{
            padding-top:600px !important;
        }
    }

    #our-reach{
        h3{
            font-size: 75px !important;
        }

        .text-lead {
            font-size: 14px !important;
            line-height: 18px !important;
        }
    }

    #footer {
        ul{
            list-style: none;
            padding: 0;
            margin: 0 -7.5px;
        
            li{
              display: inline-block;
              margin: 0 5px !important;

                i{
                  font-size: 2.5rem;
                }
        
                &.soc-divider span {
                  color: $primary-color;
                  line-height: 75px;
                  font-size: 30px;
                  font-weight: 300;
                  margin:5px;
                  vertical-align: middle;
                }

                img{
                    height: 30px !important;
                }
            }
          }
    }

    #process{
        &.fwx{
            .main-timeline {
                padding-top:50px !important;
                padding-bottom:50px !important;
                .timeline {

                    .card{
                        h3{
                            font-size: 42px !important;
                            line-height: 110% !important;
                        }
                    }
                }
            }
        }
    }

    #services{
        &.fwv{
            padding-top:150px !important;
            padding-bottom:80px !important;
        }
    }

    #our-work{
        &.fwv{
            .our-works-list{
                li{
                    font-size: 32px !important;
                    line-height: 35.4px !important;
                    padding-right:5px;
                }
            }
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

    .navbar{
        .navbar-collapse{
            top: 88px;
        }
    }
    
    #banner{
        .jumbotron{
            &.main-banner{
                padding: 220px 0 60px 0 !important;
        
                h1{
                    font-size: 47px !important;
                    line-height: 47px !important;
                } 
            
               .lead{
                    font-size: 16px;
                    line-height: 20px;
                    margin: 1rem 0;
                }
            }

            &.x-caption{
                margin-top: 110px !important;
                h1{
                    font-size: 36px !important;
                    line-height: 110% !important;
                } 
            }

            &.v-caption{
                h1{
                    font-size: 38px !important;
                    line-height: 42.4px !important;
                } 
            }
        }

        .bg-x-banner{
            width: 80% !important;
            min-height: 350px !important;
            margin-bottom: -237px !important;
            background-size: 100% !important;
            background-position: right 100% !important;
        }

        .bg-v-banner{
            width: 320px !important;
            min-height: 365px !important;
            margin-bottom: -180px !important;
        }
    }

    #works-section{

        .section-header{
            padding-bottom: 35px !important;
            
            .section-title{
                font-size: 20px !important;
                line-height: 20px !important;
            }
    
            a{
                font-size: 15px !important;
            }
        }

        .works-slider{
    
            &.slick-slider{
                .work-item{
                    width: 280px !important;
                }
            }
            .work-item{
                .work-holder{
                    .proj-prev-img{
                        height: 189px;
                    }
                }   
            }

            .slick-arrow{
                width: 60px;
    
                &.slick-next{
                    &::before{
                        font-size: 50px;
                    }
                }
            }
        }
    } 
    
    #work-banner{
        
        .jumbotron{
            padding: 180px 0 40px 0 !important;

            h1{
                font-size: 65px !important;
                line-height: 65px !important;
            } 
        }
    }

    #view-work-banner{
        .jumbotron {
            padding: 180px 0 35px 0 !important;

            h1{
                font-size: 40px !important;
                line-height: 40px !important;
           }    
        
           .lead{
               font-size: 14px !important;
           }
        }
    }

    #about{
        padding-top: 100px !important;
        padding-bottom: 100px !important;

        .caption {
            font-size: 40px !important;
        }
    
        p{
            font-size: 16px !important;
            line-height: 20px !important;
        }

        &.fwx{
            padding-top:400px !important;

            p{
                font-size: 24px !important;
                line-height: 110% !important;
            }
        }
    }

    #work-gallery-box{
        padding-top:20px !important;
        padding-bottom:20px !important;
    
        .work-gallery{
            .gallery-item{
                text-align: center;

                .gallery-thumb-image{
                    margin:auto;
                    max-width: 90%;
                }
    
                .image-counter{
                    display:block !important;
                }
            }
        }
    }

    .slick-lightbox{
        .slick-arrow{
            &::before{
                font-size: 40px !important;
            }
    
            &.slick-prev{
                left: 3% !important;
            }
    
            &.slick-next{
                right: 3% !important;
            }   
        }
    }

    #process{
        &.fwx{
            .main-timeline {
                .timeline {
                    .card{
                        h3{
                            font-size: 24px !important;
                            line-height: 110% !important;
                        }

                        
                    }

                    &.left {
                        .card-body{
                            padding: 0 10px 0 0!important;
                        }
                    }
                    
                    &.right {
                        .card-body{
                            padding: 0 0 0 10px!important;
                        }
                    }
                }
            }
        }
    }

    #what-we-do{
        &.fwx{
            .card-holder{
                h2{
                    font-size: 32px !important;
                    line-height: 110% !important;
                }
    
                ul{
                    li{
                        font-size: 20px !important;
                        line-height: 120% !important;
                    }
                }
            }
        } 
    }
}
