.bg-gray{
    background: $secondary-color !important;
}
  
.color-main{
    color:$primary;
}

.bg-dark{
    background-color: $dark !important;
}

.bg-v-dark {
    background-color: $v-dark !important;
}

.bg-darker{
    background-color: #121212 !important;
}
