#get-in-touch {
    padding: 100px 0 50px;
    color: #fff;

    .lets-connect {
        font-size: 70px;
        font-weight: 800;
        line-height: 65.65px;
    }

    h1,h2 {
        color: #fff;
    }

    .contact-form{
        input,textarea{
            border:none;
        }
    }
}