#work-gallery-box{
    padding-top:40px;
    padding-bottom:40px;

    .work-gallery{
        .gallery-item{
            margin-left:10px !important;
            margin-right:10px !important;

            .gallery-thumb-image{
                height: 255px;
                width: 100%;
                background-size: cover !important;
                background-position: center center !important;
                background-repeat: no-repeat !important;
                border:3px solid transparent;

                &:hover{
                    border:3px solid $primary;
                }
            }
            
            .image-counter{
                padding: 8px 0;
                text-align:center;
                font-size:13px;
                line-height:30px;
                font-weight:400;
                display:none;
            }
        }


        .slick-arrow{
            &::before{
                border-style: solid;
                border-width: 0.10em 0.10em 0 0;
                content: '';
                display: inline-block;
                height: 0.45em;
                left: 0;
                position: relative;
                top: -1.5rem;
                vertical-align: top;
                width: 0.45em;
                font-size: 35px;
            }

            &.slick-prev{
                left: 0 !important;

                &::before{
                    transform: rotate(225deg);
                }
            }

            &.slick-next{
                right:0 !important;

                &::before{
                    transform: rotate(45deg);
                }
            }   
        }
    }
}


.slick-lightbox{
    .slick-arrow{
        height: 100% !important;

        &::before{
            border-style: solid;
            border-width: 0.10em 0.10em 0 0;
            content: '';
            display: inline-block;
            height: 0.45em;
            left: 0;
            position: relative;
            top: -1.5rem;
            vertical-align: top;
            width: 0.45em;
            font-size: 55px;
        }

        &.slick-prev{
            z-index: 9999 !important;
            
            &::before{
                transform: rotate(225deg);
            }
        }

        &.slick-next{
            &::before{
                transform: rotate(45deg);
            }
        }   
    }

    .slick-slider-close-btn{
        cursor:pointer;
        position: absolute; 
        top: 20px;
        right: 20px;
        font-size:14px;
        line-height:30px;
        font-weight: 400;

        span{
            font-size:45px;
            vertical-align: middle;
            margin-left:5px;
            font-weight:300;
        }

        &:hover{
            color:$primary;
        }
    }
}
