.navbar{
    &.scrolled{
      background: #000;
    }

  .navbar-toggler{
      border:0;
      border-radius: 0;
      height: 60px;
      width: 60px;
      background-color: transparent;
      float:left;
      font-size: 11.5px;
      font-size: .71875rem;
      font-weight: 600;
      cursor: pointer;
      padding-top:9px;
      outline: 0;
      box-shadow: none;
      
      .icon-bar{
          background-color: $light;
          display: block;
          width: 100%;
          height: 2.5px;
          margin-bottom: 5.5px;
          position: relative;
          transition: all 300ms ease-in-out;
      }

      &.active{
          .icon-bar:nth-of-type(1){
              top: 9px;
              transform: rotate(45deg);
          }
          .icon-bar:nth-of-type(2){
              background-color: transparent;
          }
          .icon-bar:nth-of-type(3){
              top: -6px;
              transform: rotate(-45deg);
          }
      }

      &:focus { outline:0 !important; box-shadow: none; }
      &:active { outline:0 !important;  box-shadow: none;}
  }


  .navbar-nav{

    .nav-item{

      .nav-link {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin: 0 1.5rem;
        border-bottom: 3px solid transparent;

        &:hover{
          border-bottom: 3px solid #fff;
        }
      }

      &:last-child{
        .nav-link {
          margin-right: 0 !important;
        }
      }
    }
  }

  &.navbar-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;

    .navbar-toggle {
      margin-top: 32px;
    }

    .navbar-brand {
      height: auto;
    }
  }

}

@media (max-width: 1199.98px) {
  .navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0 1.5rem;
    border-bottom: 3px solid transparent;
    font-family: "Poppins", sans-serif;
  }

  .navbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 3px solid transparent;
  }

  .navbar .navbar-nav .nav-item:last-child .nav-link {
    margin-right: 1.5rem !important;
  }
}