#our-reach{
    h3{
        color: #fff;
        font-size: 96px;
        font-weight: 700;

        .counter-stat {
            line-height: 94.08px;
            text-align: center;
        }
    }

    .text-lead {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
    }
}