==
{##}
<section id="banner">
    <div class="d-lg-block wow fadeInUp bg-v-banner" data-wow-delay="0.9s"></div>
    <div class="container">
        <div class="row align-items-left">
            <div class="col-xl-7 col-lg-8 wow fadeInUp" data-wow-delay="0.6s">
				<div class="jumbotron v-caption">
                    <h1 class="wow fadeInUp" data-wow-delay="0.5s">Acelerate your<br/> business ideas with<br/> us. We back the bold<br/> and brave.</h1>
				</div>
			</div>
        </div>
    </div>
</section>